doctype html
html
  head
    title Codex Press Development Server

    script(src="/main.js")

    script(src=appOrigin + "/app/core.js")
    script(src=appOrigin + "/app.js")
    script(src=renderOrigin + "/render.js")

    link(rel=stylesheet href=appOrigin + "/app.css")

    meta(name="codex:client-render" content="true")

  body

    div#config


